@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação para o indicador de "digitando" */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.dot-bounce {
  animation: bounce 1s infinite;
}